body {
    text-align: center;
    padding-top: 8%;
    background: #ffd580;

}

h1{
    text-align: center;
    font-size: 28px;
    border: thin solid black;
}

p{
    font-weight: bold;
}

.button1 {
    width: 50%;
}